* {
  margin: 0;
  padding: 0;
}

.inline {
  display: flex;
}

#add-data-button {
  width: 100%;
  background-color: #274690;
}

.content-container {
  margin: 0 auto;
  padding: 0 1em;
  height: 100vh;
  width: 40vw;
  background-color: #f5f3f5;
}

#chart {
  width: 100%;
}
